* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-1 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav, a {
    color: white;
    text-decoration: none;
    padding: 10px;
   
}

a:hover {
    font-size: 25px;
   
}

.div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    background: url("http://picsum.photos/id/94/1900/650?blur=3");
    /*background-color: gray;*/

}

.highlight-text {
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    /*background-color: aquamarine;*/
}

.div-3-left {
    width: 650px;
    height: 350px;
    padding-left: 10px;
    /*background-color: brown;*/
}

.highlight-img {
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.m-link {
    color: darkolivegreen;
}

.div-3-right {
    width: 650px;
    height: 350px;
    /*background-color: blue;*/
}

.others {
    padding: 10px;
    float: left;
}

.img-others {
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.div-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    /*background-color: chocolate;*/
    
}

.div-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-image:
    linear-gradient(#23691d, #5cd36c);
}

.div-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
}